.cyclist-bg-blue-sky {
  background-color: @blueGrey;
  background-image: url('/app/themes/mcc-cycling/assets/img/cyclists-bg.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 300px;

  .list-group {
    .list-group-item {
      background: rgba(255,255,255,0.4);
    }
  }

  .panel {
    background: rgba(255,255,255,0.4);
  }

  .thumbnail {
    background-color: rgba(255,255,255,0.4);
  }

  @media (min-width: @screen-lg-min) {
    background-size: 100% auto;
    padding-bottom: 700px;
  }
}

html.js {
  .parallax-bg {
    // Fixed background does weird things with background-size: cover
    // but it reduced jitter when using Stellar (parallax bg). So, if
    // JS is enabled, we'll use fixed.
    background-attachment: fixed;
  }
}