body.page-template-template-contact-php {
  padding-bottom: 200px;
  background-color: #d0d8d7;
  background-image: url('/app/themes/mcc-cycling/assets/img/contact-bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;

  .main {
    padding-top: 40px;
    margin: 0 auto;
    width: 80%;
  }

  .ginput_container {
    width: 100%;
  }

  @media (min-width: @screen-sm-min) {
    .main {
      width: 70%;
    }
  }

  @media (min-width: @screen-md-min) {
    .main {
      width: 50%;
    }
  }

  @media (min-width: @screen-lg-min) {
    .main {
      width: 30%;
    }
  }

  @media (min-width: 1300px) {
    & {
      background-size: 100% auto;
    }
  }

  .navbar-side-collapse.in~#main-container .container,
  .navbar-side-collapse.in~footer .container {
    width: 60%;
  }
}