.page-template-template-event-php {
  .cyclist-bg-blue-sky();

  .main {
    padding-top: 60px;

    @media (min-width: @screen-md-min) {
      article {
        text-align: center;
      }
    }

    #event-route {
      width: 100%;
      height: 350px;
      text-align: left;
    }

    .locations {
      margin-top: 60px;
      text-align: center;

      h2 {
        margin-bottom: 10px;
      }
    }
  }
}