//
// Forms
//

//
// Set some base styles.
// These will likely be overwritten by subsequent classes
// but these are here as a fall-back.
//
.form-control {
  background: #fcfcfc;
}

textarea {
  resize: vertical;
}

.input-group-addon {
  background: #fefefe;

  &.glyphicon {
    font-size: 1.2em;
    color: #bbb;
  }
}

//
// Gravity forms base styles
//
.gform_wrapper ul {
  .list-unstyled();
}

.gform_wrapper li {
  .form-group();
}

.gform_wrapper form {
  margin-bottom: 0;
}

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: @state-danger-text;
}

.ginput_container input,
.ginput_container select,
.ginput_container textarea {
  .form-control();
}

.ginput_container textarea {
  height: auto;
}

.gform_button {
  .btn();
  .btn-primary();
}

.gform_wrapper .gfield_error {
  .gfield_label {
    color: @state-danger-text;
  }

  input,
  select,
  textarea {
    border-color: @alert-danger-border;
    //background-color: @alert-danger-bg;
    color: @alert-danger-text;
    .form-control-focus(@alert-danger-text);
  }
}

.validation_error {
  .alert();
  .alert-danger();
}

#gforms_confirmation_message {
  .alert();
  .alert-success();
}

li.gfield.has-icon {
  label {
    .sr-only();
  }

  .ginput_container {
    .clearfix();
    .form-control();

    height: auto;

    &:focus {
      background: red;
    }

    position: relative;
    padding: 0;

    .glyphicon {
      .pull-left();

      padding: 0 1.5em 0 1em;
      position: absolute;
      left: 0;
      top: 30%;
      color: #aaa;
    }

    input, textarea {
      .pull-right();

      border: none;
      border-left: 1px solid #ddd;
      width: 90%;
      margin: 0 0 0 10%;
      border-radius: 0;
      background: none;
      box-shadow: none;
    }

     textarea + .glyphicon {
      top: 45%;
    }
  }
}