h1, h2 {
  font-weight: 200;
}

h1 {
  font-size: @h1-size;
  letter-spacing: 3px;
  line-height: 0.9em;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
}

article {
  h1 {
    font-size: 30px;
    text-transform: none;
    letter-spacing: 1px;
    margin: 5px 0;
  }
}

@media (min-width: @screen-sm-min) {
  h1 {
    font-size: @h1-size-lg;
  }

  h2 {
    font-size: 30px;
  }
}