body.home {
  background-image: none;
  background: #fff;
  padding-bottom: 0;

  #main-container {
    width: 100%;
    margin: 0;
    padding: 0;

    #top-header {
      margin-bottom: 0;
    }
  }

  .main {
    padding: 0;
    width: 100%;

    .container {
      width: 100%;
      padding: 0;
      margin: 0;

      @media (min-width: @screen-sm-min) {
        padding: 0 80px;
      }

      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }

    footer.container {
      padding: 0;
    }
  }

  #top-header {
    .headings {
      margin-bottom: 80px;

      h2 {
        font-size: 18px;
      }

      @media (min-width: @screen-sm-min) {
        margin-bottom: inherit;

        h1 {
          font-size: @h1-size;
        }

        h2 {
          font-size: @font-size-h2;
        }
      }

      @media (min-width: @screen-md) {
        h1 {
          font-size: @h1-size-lg;
        }
      }
    }
  }

  .navbar-side-collapse.in~#main-container .main {
    @media (min-width: @screen-md-min) {
      padding-left: inherit;
      padding-right: inherit;
    }

    @media (min-width: @screen-lg-min) {
      padding-left: inherit;
      padding-right: inherit;
    }
  }

  #the-event {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #e4eaea;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    height: 900px;
    width: 100%;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      text-align: left;
    }

    @media (min-width: @screen-lg-min) {
      background-position: 50% 50%;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 50px;

      @media (min-width: @screen-xs-max) {
        margin-bottom: 20px;
      }
    }

    .content {
      & > * {
        display: none;

        &:first-child {
          display: block;
        }

        @media (min-width: @screen-xs-max) {
          display: block;
        }
      }
    }

    .cta {
      margin-top: 30px;

      @media (min-width: @screen-xs-max) {
        margin-top: 0;
      }
    }
  }

  #meet-the-county {
    padding-top: 60px;
    background-color: #e7eaea;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    height: 900px;
    width: 100%;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      text-align: left;
    }

    @media (min-width: @screen-md-min) {
    }

    @media (min-width: @screen-lg-min) {
      background-position: center;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 50px;

      @media (min-width: @screen-xs-max) {
        margin-bottom: 20px;
      }
    }

    .content {
      @media (min-width: @screen-xs-max) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      & > * {
        display: none;

        &:first-child {
          display: block;
        }

        @media (min-width: @screen-xs-max) {
          display: block;
        }
      }
    }

    .cta {
      margin-top: 30px;

      @media (min-width: @screen-xs-max) {
        margin-top: 0;
      }
    }
  }

  #map-routes {
    padding-top: 150px;
    background-color: #e7eaea;
    background-repeat: no-repeat;
    background-position: 70% 0;
    background-size: cover;
    height: 570px;
    width: 100%;
    text-align: center;
    position: relative;

    #map-routes-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      margin-top: -150px;
    }

    @media (min-width: @screen-xs-max) {
      #map-routes-bg {
        margin-left: -80px;
      }
    }

    @media (min-width: @screen-sm-min) {
      background-position: 0% 0%;
      text-align: left;
    }

    @media (min-width: @screen-md-min) {
    }

    @media (min-width: @screen-lg-min) {
      background-position: center;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 50px;
    }

    .cta {
      margin-top: 30px;

      @media (min-width: @screen-xs-max) {
        margin-top: 0;
      }
    }
  }

  #partners {
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
      margin-bottom: 40px;
    }

    .partners {
      margin-bottom: 60px;

      .partner {
        margin: 40px 0;

        img.logo {
           max-width: 100%;
          -webkit-transition: opacity 0.1s ease-in-out;
          -moz-transition: opacity 0.1s ease-in-out;
          -o-transition: opacity 0.1s ease-in-out;
          transition: opacity 0.1s ease-in-out;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .cta {
      margin: 40px auto;
    }

    @media (min-width: @screen-sm-max) {
      padding-top: 80px;
      padding-bottom: 80px;

      h1 {
        margin-bottom: 80px;
      }
    }
  }

  #latest-news {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e7eaea;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    height: 900px;
    width: 100%;
    text-align: center;

    h1.page-title {
      margin-top: 0;
      margin-bottom: 50px;
      text-align: center;
    }

    @media (min-width: @screen-sm-min) {
      padding-top: 75px;
      padding-bottom: 75px;
      text-align: left;

      h1.page-title {
      }

      article {
        text-align: left;

        header {
          h1,
          .entry-meta {
            text-align: left;
          }
        }
      }
    }

    @media (min-width: @screen-md-min) {
      h1.page-title {
        margin-bottom: 1em;
      }
    }

    @media (min-width: @screen-lg-min) {
      background-position: center bottom;
      text-align: left;

      h1.page-title {
        text-align: left;
      }

      article {
        .entry-title,
        .entry-meta {
          text-align: left;
        }
      }
    }

    .cta {
      margin-top: 30px;

      @media (min-width: @screen-xs-max) {
        margin-top: 0;
      }
    }
  }
}