body.single-location {
  .cyclist-bg-blue-sky();

  .featured-image {
    margin: 2em 0;
  }

  .location {
    .map {
      #location-map {
        min-height: 200px;
      }
    }
  }

  aside {
    .featured-image {
      .thumbnail {
        max-width: 100%;
        height: auto;

        @media (min-width: @screen-lg-min) {
          width: 100%;
        }
      }
    }

    .facilities {
      & > ul {
        list-style: none;
        padding-left: 0;
        margin-top: 15px;
        margin-left: 0;

        & > li {
          ul {
            &:extend(.list-group);

            li {
              &:extend(.list-group-item);

              background: #ddd;
              background: rgba(255,255,255,0.4);
            }
          }
        }
      }
    }
  }
}

body.post-type-archive-location {
  .cyclist-bg-blue-sky();

  article.location {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid #ccc;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }

    header {
      h1, h2 {
        margin-top: 0;

        a {
          color: #000;

          &:hover {
            color: #666;
            text-decoration: none;
          }
        }
      }
    }

    .location {
      margin: 1em 0;
      font-size: 13px;
      font-weight: bold;
    }

    .thumbnail {
      position: relative;
      margin: 1.5em auto;

      &:hover {
        opacity: 0.9;
      }
    }

    .read-more {
      margin-top: 0.5em;

      a {
        padding: 5px 10px;
        font-size: 16px;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    article.location {
      .thumbnail {
        margin: auto;
      }
    }
  }
}