body {
  position: relative;
}
.navbar-side-collapse {
  background: @lightGreen;
  position: relative;
  padding: 0;

  .social {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
  }

  & ~ #top-header,
  & ~ #main-container,
  & ~ footer {
    -webkit-transition: all @sideNavTime ease-in-out;
    -moz-transition: all @sideNavTime ease-in-out;
    -o-transition: all @sideNavTime ease-in-out;
    transition: all @sideNavTime ease-in-out;
  }

  &.in ~ #top-header,
  &.in ~ #main-container #top-header {
    .nav-toggle {
      button {
        background: @lightGreen;
        border-color: @lightGreen;

        &:hover {
          background: @lightGreen;
        }
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    width: @sideNavWidth;
    height: 100% !important;
    left: -@sideNavWidth;
    top: 0;
    position: fixed;
    -webkit-transition: all @sideNavTime ease-in-out;
    -moz-transition: all @sideNavTime ease-in-out;
    -o-transition: all @sideNavTime ease-in-out;
    transition: all @sideNavTime ease-in-out;
    transition: all @sideNavTime ease-in-out;
    text-align: left;
    z-index: 99;

    & > section {
      -webkit-transition: opacity @sideNavTime ease-in-out;
      -moz-transition: opacity @sideNavTime ease-in-out;
      -o-transition: opacity @sideNavTime ease-in-out;
      transition: opacity @sideNavTime ease-in-out;
      opacity: 0.5;
    }

    &.collapsing {
      & > section {
      }
    }

    &.in {
      z-index: 99;
      left: 0;
      height: auto !important;
      top: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: scroll;
      box-shadow: 0 30px 80px #444;
      -webkit-box-shadow: 0 30px 80px #444;
      -moz-box-shadow: 0 30px 80px #444;
      -o-box-shadow: 0 30px 80px #444;

      & > section {
        opacity: 1;
      }

      & ~ #main-container .main {
        @media (min-width: @screen-md-min) {
          padding-left: 80px;
          padding-right: 80px;
        }

        @media (min-width: @screen-lg-min) {
          padding-left: 100px;
          padding-right: 100px;
        }
      }

      & ~ #top-header,
      & ~ #main-container #top-header {
        background-position: center right;

        .top-menu.sticky {
          width: 100% - @sideNavWidth;
          left: @sideNavWidth;
        }
      }

      & ~ #main-container,
      & ~ footer {
        overflow: hidden;
        width: 100% - @sideNavWidth;
        margin-left: @sideNavWidth;

        .container {
          width: 100%;
        }
      }
    }
  }

  .widget_search {
    margin-bottom: 30px;

    @media (min-width: @screen-sm-min) {
      margin-top: 40px;
      margin-bottom: 90px;
    }

    h3 {
      &:extend(.sr-only);
    }

    .search-form {
      padding-bottom: 10px;
      border-bottom: 1px solid @greenOverlay;

      input {
        background: none;
        border: none;
        outline: none;
        color: #eee;
        -webkit-appearance: none;
        border-radius: 0;
        border-width: 0px;
        box-shadow: none;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 200;

        &::-webkit-input-placeholder {
          color: #dedede;
        }

        &:-moz-placeholder {
          color: #eee;
        }

        &::-moz-placeholder {
          color: #eee;
        }

        &:-ms-input-placeholder {
          color: #eee;
        }
      }

      .search-submit {
        background: none;
        border: none;
        outline: none;
        color: #fff;
        font-size: 18px;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .widget_nav_menu {
    @media (min-width: @screen-sm-min) {
      margin-bottom: 50px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        border-top: 1px solid @greenOverlay;

        &:last-child {
          border-bottom: 1px solid @greenOverlay;
        }

        a:link,
        a:active,
        a:visited,
        a:hover {
          display: block;
          padding: 10px;
          color: #eee;
          font-size: 18px;
          font-weight: 200;
          letter-spacing: 1px;
        }

        a:hover,
        &.active a {
          background: @greenOverlay;
          text-decoration: none;
        }
      }
    }
  }
}
