.sidebar-widget {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

  .widget-inner {
    h2 {
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: #333;

        &:hover {
          text-decoration: none;
          color: #555;
        }
      }

      i {
        display: block;
        padding-bottom: 10px;
        font-size: 50px;
        color: #000;
      }
    }
  }
}

.sidebar,
aside {
  .widget {
    &.share,
    &.widget_facebook_likebox,
    &.widget_twitter_timeline {
      .sidebar-widget();
    }
  }
}

.addthis_toolbox {
  a {
    .btn-primary();

    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 40px;
    padding: 0;
    border-radius: 0;
  }
}

.widget {
  &.widget_facebook_likebox {
    iframe {
      background: none !important;
      border: none !important;
      max-width: 100% !important;
    }
  }
}